body {
background-color: #3B3936;
}

.container {
    background-color: wheat;
    height: auto;
    width: 80%;
    margin: auto;
    border-radius: .5em;
}

.topnav {
    background-color: #922C2D;
    display: flex;
    width: 100%;
    margin-top: 3em; }
    .topnav nav {
        margin: auto;
        display: flex;
        width: 100%;
        justify-content: space-around; }
            .topnav nav a {
                margin: auto;
                padding: 10px;
                text-decoration: none;
                color: #FFFF50;}

h1 {
    text-align: center;
    font-size: 40px;
}

.logo {
    margin: auto;
}
    .logo img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
    }

        .logo h1 {
            text-align: center;
            font-size: x-large;
            color: #922C2D;
        }



.questions {
    margin: 50px;
    padding-bottom: 20px;
}

.burgerImg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: #ffff50;
    background-color: #922C2D;
    margin-top: 10px;
    margin-bottom: 20px;
}

#yourDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: #ffff50;
    background-color: #922C2D;
    margin-top: 10px;
}